<h2>Продукти</h2>

<% @products.each do |product| %>
  <p><%= link_to "Продукт #{product.name}", product_path(product.id) %></p>
<% end %>

<p><%= link_to "Добавити продукт", new_product_path %></p> 
